/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Gaya umum */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #141414; /* Latar belakang hitam khas Netflix */
  color: #ffffff;
}

/* Gaya header */
header {
  background-color: #111; /* Warna gelap khas Netflix */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #e50914; /* Warna merah khas Netflix */
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

/* Gaya navigasi */
nav {
  margin-top: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  background-color: #e50914; /* Warna merah khas Netflix */
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 700;
}

nav ul li a:hover {
  background-color: #b20710; /* Warna merah lebih gelap saat hover */
}

/* Media query untuk responsif */
@media (max-width: 768px) {
  nav ul li a {
    padding: 8px 12px;
  }

  header h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  nav ul li a {
    padding: 6px 10px;
  }
}
